body, html, * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
 }
 
 
 .container {
    display: flex;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 
 form {
    width: 40%;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 20px 10px 10px;
 }
 
 form > label {
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
 }
 
 form > input,select {
    border: 1px solid #333;
    padding: 10px 0;
    width: 100%;
    border-radius: 5px;
 }
 
 .resultContainer {
    font-weight: bold;
    margin-top: 25px;
    width: 80%;
    text-align: end;
 }
 
 .containerBotones {
    margin-top: 30px;
 }
 
 .containerBotones > input{
    padding: 10px 20px;
    margin-left: 10px;
    color: white;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
 }
 
 #calcularButton {
    background: rgb(21, 119, 232);
 }
 #limpiarButton {
    background: rgb(231, 35, 35);
 }
 
 #enviarButton {
    background: rgb(15, 146, 15);
 }
 
 